#map {
    height: 800px;
}

#markerLayer > img[src="drone.png"]{
    height: 20px;
    width: 20px;
  }

.statusContainer {
    width: 80px;
    border: 2px solid #4b4641;
    left: -11px;
    top: -15px;
    position: absolute;
    border-radius: 2px;
}

.heartbeatStatus, .attitude {
    width: 400px;
}

.title {
    text-align: left;
}

.value {
    text-align: right;
}
.fill-space {
    flex: 1 1 auto;
}

.cardsContainer {
    display: flex;
}

.cardsContainer mat-card {
    margin: 4px;
}

.flex {
    margin: 4px;
}

.mat-raised-button {
    margin-left: 3px;
    margin-right: 3px;
}

.example-full-width {
    width: 100px;
}