<div class="cardsContainer">
  <mat-card>
      <mat-card-header>
        <mat-card-title>Connection</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-select placeholder="Ports available" (openedChange)="requestPorts()" [(ngModel)]="selectedPort" name="portsSelect">
            <mat-option *ngFor="let port of availablePorts" [value]="port">
              {{port}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Select baud rate" [(ngModel)]="selectedBaud" name="baudSelect">
            <mat-option [value]="57600">57600</mat-option>
            <mat-option [value]="115200">115200</mat-option>
          </mat-select>
        </mat-form-field>
        
        <button *ngIf="selectedPort" mat-raised-button (click)="startListening()">Connect</button>
        <button *ngIf="connected" mat-raised-button (click)="startListening()">Disconnect</button>
      </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Path planning</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-slider *ngIf="this.lastPolygon"
              class="example-margin"
              tickInterval="1000"
              [max]="360"
              [min]="0"
              [step]="1"
              [thumbLabel]="thumbLabel"
              [(ngModel)]="gridAngle"
              (change)="angleChanged()">
          </mat-slider>

          <mat-slider *ngIf="this.lastPolygon"
              class="example-margin"
              [max]="0.0001"
              [min]="0.000001"
              [step]="0.000001"
              [thumbLabel]="thumbLabel"
              [(ngModel)]="gridStep"
              [displayWith]="formatLabel"
              (change)="stepChanged()">
          </mat-slider>

          <button (click)="startSimulation()" *ngIf="this.lastPolygon" mat-raised-button>Send plan simulation</button>
          <button (click)="startWork()" *ngIf="this.lastPolygon" mat-raised-button>Send plan</button>
    </mat-card-content>
  </mat-card>
  
  <mat-card>
    <mat-card-header>
      <mat-card-title>Control commands</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Altitude: <mat-slider
                  class="example-margin"
                  [max]="15"
                  [min]="0"
                  [step]="1"
                  [thumbLabel]="thumbLabel"
                  [(ngModel)]="selectedAltitude">
          </mat-slider>
          <button mat-raised-button (click)="takeoff()">Takeoff at [{{selectedAltitude}}m.]</button>
          <button mat-raised-button (click)="setStabilize()">Stabilize</button>
          <button mat-raised-button (click)="setPosHold()">Position hold</button>
          <button mat-raised-button (click)="rtl()">Return to Launch</button>
          <button mat-raised-button (click)="land()">Land</button>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>System commands</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button (click)="armCopter(1)"  mat-raised-button>Arm</button>
      <button (click)="armCopter(0)"  mat-raised-button>Disarm</button>

      <button (click)="reboot()"  mat-raised-button color="warn">Reboot</button>
    </mat-card-content>
  </mat-card>
</div>
        
        


<div class="cardsContainer">
<mat-card class="flex heartbeatStatus" *ngIf="heartbeat">
  <mat-card-header>
    <mat-card-title>Heartbeat</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span class="title">Type</span>
        <span class="fill-space"></span>
        <span class="value">{{getMavType(heartbeat.type)}}</span>  
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span class="title">GPS Fix</span>
        <span class="fill-space"></span>
        <span class="value" *ngIf="gpsRaw && gpsRaw.fix_type == 0">No GPS connected</span>  
        <span class="value" *ngIf="gpsRaw && gpsRaw.fix_type == 1">No position information, GPS is connected</span> 
        <span class="value" *ngIf="gpsRaw && gpsRaw.fix_type == 2">2D position</span> 
        <span class="value" *ngIf="gpsRaw && gpsRaw.fix_type == 3">3D position</span> 
        <span class="value" *ngIf="gpsRaw && gpsRaw.fix_type == 4">DGPS/SBAS aided 3D position</span> 
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span class="title">Arm status</span>
        <span class="fill-space"></span>
        <span class="value">{{isArmed ? 'Armed' : 'Disarmed'}}</span>  
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span class="title">Base mode</span>
        <span class="fill-space"></span>
        <span class="value">{{heartbeat.base_mode}}</span>  
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span class="title">Custom mode</span>
        <span class="fill-space"></span>
        <span class="value">{{getCustomMode(heartbeat.custom_mode)}}</span>  
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span class="title">System status</span>
        <span class="fill-space"></span>
        <span class="value">{{getSystemStatus(heartbeat.system_status)}}</span>  
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>


<mat-card class="flex attitude" *ngIf="attitude">
    <mat-card-header>
      <mat-card-title>Attitude</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span class="title">Time from Boot</span>
          <span class="fill-space"></span>
          <span class="value">{{attitude.time_boot_ms}}</span>  
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span class="title">Roll</span>
          <span class="fill-space"></span>
          <span class="value">{{attitude.roll}}</span>  
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span class="title">Pitch</span>
          <span class="fill-space"></span>
          <span class="value">{{attitude.pitch}}</span>  
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span class="title">Yaw</span>
          <span class="fill-space"></span>
          <span class="value">{{attitude.yaw}}</span>  
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>


  <mat-card class="flex prearm" *ngIf="preArmMessages && preArmMessages.length > 0">
    <mat-card-header>
      <mat-card-title>Pre Arm</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <ng-container *ngFor="let message of preArmMessages">
        <mat-list-item>
          <span class="title">{{message.message}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="flex" style="display: none">
      <mat-card-header>
          <mat-card-title>Attitude screen</mat-card-title>
        </mat-card-header>
      <app-attitude roll="{{roll}}" pitch="{{pitch}}" yaw="{{yaw}}" style="width: 600px; height: 600px"></app-attitude>
  </mat-card>

  <mat-card class="flex">
    <mat-card-header>
      <mat-card-title>Sandbox</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-select placeholder="-- Select mode --" [(ngModel)]="sandboxMode" name="sandboxMode">
          <mat-option [value]="0">
            COPTER_MODE_STABILIZE
          </mat-option>
          <mat-option [value]="2">
              COPTER_MODE_ALT_HOLD
          </mat-option>
          <mat-option [value]="3">
              COPTER_MODE_AUTO
          </mat-option>
          <mat-option [value]="4">
              COPTER_MODE_GUIDED
          </mat-option>
          <mat-option [value]="5">
              COPTER_MODE_LOITER
          </mat-option>
          <mat-option [value]="6">
              COPTER_MODE_RTL
          </mat-option>
          <mat-option [value]="9">
              COPTER_MODE_LAND
          </mat-option>
          <mat-option [value]="16">
              COPTER_MODE_POSHOLD
          </mat-option>
          <mat-option [value]="17">
              COPTER_MODE_BRAKE
          </mat-option>
          <mat-option [value]="18">
              COPTER_MODE_THROW
          </mat-option>
        </mat-select>
      </mat-form-field><button (click)="sendMode()" mat-raised-button>Send mode</button><br>
      <button (click)="armCopter(1)"  mat-raised-button>Arm</button>
      <button (click)="armCopter(0)"  mat-raised-button>Disarm</button><br><br>
      <button (click)="sendInterval()" mat-raised-button>Send Interval</button><br><br>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Param 1" value="0" [(ngModel)]="sandboxParam1">          
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Param 2" value="0" [(ngModel)]="sandboxParam2">          
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Param 3" value="0" [(ngModel)]="sandboxParam3">          
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Param 4" value="0" [(ngModel)]="sandboxParam4">          
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Param 5" value="0" [(ngModel)]="sandboxParam5">          
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Param 6" value="0" [(ngModel)]="sandboxParam6">          
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Param 7" value="0" [(ngModel)]="sandboxParam7">          
      </mat-form-field>
      <mat-form-field class="example-full-width-long">
          <mat-select placeholder="-- Select command --" (selectionChange)="getCommandDef()" [(ngModel)]="sandboxCommand" name="sandboxCommand">
              <mat-option *ngFor="let command of commands" [value]="command.commandId">
                {{command.command}}
              </mat-option>
            </mat-select>        
      </mat-form-field>
    <button (click)="sendCommand()" mat-raised-button>Send command</button><br><br>
    <mat-list *ngIf="sandboxCommand">
        <mat-list-item> Param 1: {{sandboxCommandDef.param1}}</mat-list-item>
        <mat-list-item> Param 2: {{sandboxCommandDef.param2}}</mat-list-item>
        <mat-list-item> Param 3: {{sandboxCommandDef.param3}}</mat-list-item>
        <mat-list-item> Param 4: {{sandboxCommandDef.param4}}</mat-list-item>
        <mat-list-item> Param 5: {{sandboxCommandDef.param5}}</mat-list-item>
        <mat-list-item> Param 6: {{sandboxCommandDef.param6}}</mat-list-item>
        <mat-list-item> Param 7: {{sandboxCommandDef.param7}}</mat-list-item>
       </mat-list>
    </mat-card-content>
</mat-card>


</div>





<div style="margin-top: 10px" id="map"></div>